.list {
    margin: 8px 0;
    list-style: none;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px;

    li {
        margin-bottom: 8px;
    }

    li:first-child {
        font-weight: bold;
    }

    li:last-child {
        font-weight: bold;
        margin: 0;
    }
}

.list:hover {
    border-color: aqua;
}